.container {
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
}
.child {
   /* padding: 16px; */
   border: 1px solid black;
   /* the boxes won't be the same size using this technique though width and justify-content would  */
   flex-grow: 1;
   margin-right: 16px;
   border-radius: 5px;
   display: flex;
   /* width: 20%; */
}
.child img {
   height: 150px;
}
/* order from large to small  */
@media screen and (max-width: 1200px) {
  
}  

@media screen and (max-width: 768px) {
   .container {
      flex-direction: column;
   }
   p {
      display: none;
   }
}  